* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
input, textarea, select {
  -webkit-user-select: auto;
}
HTML {
  height: 100%;
  -webkit-text-size-adjust: none;
  /* iPhone */
}
BODY {
  background-color: #FFFFFF;
  font-family: Verdana, Arial, sans-serif, helvetica;
  font-size: 0.88em;
  color: #FFF;
  margin: 0;
  padding: 0;
  background-image: url(../image/pattern_new.png);
  background-repeat: repeat;
}
H1, H2, H3, H4, H5, H6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
UL, LI {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: bottom;
}
IMG {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: none;
  height: auto;
}
P {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.clearfix {
  min-height: 1px;
  padding: 0px 0px 0px 36%;
}
* html .clearfix {
  height: 1px;
}
.clear {
  clear: both;
}
.clear:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.clear {
  min-height: 1px;
}
ul {
  text-align: center;
}
p img {
  margin: 4px 0px 2px 0;
}
.blanktop {
  padding: 10px 0px;
}
body#home {
  background-color: #FFFFFF;
}
.wrapper {
  width: 95%;
  margin: 0 auto;
}

#Foot_home {
  height: 64px;
  top: 5px;
}
#Foot_home_inner {
  text-align: center;
  padding-top: 25px;
}
#Foot_home_inner p {
  font-size: 12px;
}
.body {
  padding: 20px;
  text-align: left;
}
.liststyle01 {
  width: 100%;
  margin: -1% auto;
}
.liststyle01 ul {
//  background-color: rgba(0, 0, 0, 1);
//  border: 2px solid #2c2920;
  position: relative;
  min-height: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  z-index:10;
}
.liststyle01 ul li {
  position: absolute;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 98%;
  height:100%;
  padding: 5 5 5 5px;
  z-index:20;
}
date {
  color: #d8b860;
}
.btn {
  width: 100%;
  clear: both;
  padding: 0 0 20px;
}
.btn a {
  display: block;
  width: 130px;
  margin: 0 auto;
}
.btn a.nextBtn {
  float: right;
  display: block;
  width: 150px;
  margin: 0 20px 0 0;
}
.btn a.prevBtn {
  float: left;
  display: block;
  width: 150px;
  margin: 0 0 0 20px;
}
.btnHome {
  width: 100%;
  clear: both;
  padding: 0;
}
.btnHome a {
  display: block;
  width: 200px;
  margin: 0 auto;
}
.btnHome a.entry {
  display: block;
  width: 153px;
  margin: 0 auto;
}
.btnHome a.toShop {
  display: block;
  width: 225px;
  margin: 0 auto;
}
